<% include _layouts/header %>

<% if(title == ''){ %>

    <%}else{%>
<h1><%= title %></h1>

<%}%>

  <form method="POST" action="/users/login">
 

    <div class="form-group">
      <label for="">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username"
      />
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input
        type="text"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
  
    <button class="btn btn-default">Login</button>
  </form>
  <% include _layouts/footer %>
</h1>
